html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
  font-size: 18px;
  line-height: 32px;
  color: #000;
}

.mobile {
  display: none;
}

span {
  display: inline-block;
  width: 6.3px;
  height: 6.3px;
  background-color: #FF921D;
  border-radius: 100%;
  margin-right: 14px;
}

.cpart01 {
  max-width: 1920px;
  margin: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-1,.banner-2,.banner-3 {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-1 {
    background-image: url(../images/banner-01.jpg);
}

.banner-2 {
    background-image: url(../images/banner-02.jpg);
}

.bannerlength {
  width: 239.165 px;
  height: 100px;
}

.mySwiper2 {
  height: 100px;
}

.brandlg {
  width: 60%;
  height: 100%;
}

.borderline {
  width: 100%;
  height: 60%;
  border-right: 1px solid #c7c8c9;
}

.cpart02,.cpart04 {
  background-color: #F6F7F7;
}

.pc_content {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.part02_part {
  height: 600px;
  background-image: url(../images/会员卡底图-01.jpg);
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

.vipequity {
  display: flex;
  position: absolute;
  top: 205px;
  padding: 0 40px;
}

.lengthli {
  width: 200px !important;
}

.vipimgdiv {
  padding: 20px 30px 0;
}

.vipimg {
  width: 381px;
  height: 320px;
  transition:0.5s
}

.cpart03 {
  background-color: #fff;
}

.part03_part {
  height: 800px;
}

.hrequity_top {
  padding: 63px 60px 36px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.hrtitle {
  font-size: 30px;
  color: #FF921D;
}

.hrequity_bottom_img {
  padding: 0 80px 43.93px;
  display: flex;
  justify-content: center;
}

.hrequity_bottom_img a:nth-child(2){
  margin: 0 26px;
}

.hrequity_bottom_dot_ul {
  display: flex;
  padding: 0 100px;
}

.hrequity_bottom_dot_ul li {
  width: 150px;
  height: 137px;
  text-align: center;
  padding: 0 12px;
}

.dottitel {
  font-size: 18px;
  line-height: 24px;
  padding: 22px 0;
  font-weight: 600;
}

.dottitel_p {
  font-size: 15px;
  font-weight: 400;
}

.v1part,.v2part {
  display: none;
}

.scaleimg {
  transform: scale(1.25);
  transition:0.5s
}

.minscaleimg {
  transform: scale(0.8);
  transition:0.5s
}

.part04_part {
  height: 800px;
}

.part04_tab {
  display: flex;
  padding: 0 60px 36px;
}

.step_left {
  width: 60%;
  border-right: 1px solid #c7c8c9;
  padding: 0px 1.364583vw 0 42px;
}

.step_right {
  width: 50%;
  padding: 0 0 0 1.364583vw;
}

.tab_title {
  font-size: 24px;
  font-weight: 600;
}

.tabcontent {
  width: 100%;
}

.hrequity_bottom_dot_ul li img {
  width: 40.75px;
  height: 34.529px;
}

.step_top {
  position: relative;
  padding: 0 0 0 42px;
}

.step {
  position: relative;
  margin-bottom: 40px;
}

.svgon {
  transform: rotate(180deg);
  color: #c7c8c9;
  transition: all 0.5s ease 0s;
}

.hengxian {
  width: 96%;
  background: #c7c8c9;
  height: 3px;
  position: absolute;
  bottom: -16px;
  left: 42px;
}

.step::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 3px;
  background: #FF921D;
  position: absolute;
  bottom: -16px;
  left: 42px;
  transition: all 0.5s ease;
  -webkit-transform: all 0.5s ease;
  z-index: 1;
}

.step.on::before {
  width: 96%;
  transition: all 0.5s ease;
  -webkit-transform: all 0.5s ease;
}

.pad48 {
  text-align: justify;
}

.pad48 ul li:nth-child(1) {
  width: 120px;
}

.pad48 ul li:nth-child(2) {
  width: 268px;
}

.tab_ititle {
  font-size: 21px;
  line-height: 36px;
}

.step_bottom {
  display: flex;
  /* display: none; */
  padding: 20px 0 30px;
  margin-bottom: 60px;
}

.fa {
  position: absolute;
  top: 0;
  right: 0;
}

.tab {
  display: flex;
  flex-direction: column;
  width: 321px;
  border-right: 1px solid #c7c8c9;
  height: 596px;
}

.tabimg {
  margin-bottom: 9px;
  width: 210px;
  height: 69px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease 0s;
}

.appli1 {
  background-image: url(../images/应用场景按钮-01.png);
}

.appli2 {
  background-image: url(../images/应用场景按钮-06.png);
}

.appli3 {
  background-image: url(../images/应用场景按钮-07.png);
}

.appli4 {
  background-image: url(../images/应用场景按钮-08.png);
}

.appli2_content,.appli3_content,.appli4_content {
  display: none;
}

.jointly {
  text-align: center;
}

.origcolor {
  color: #FF921D;
}

.erweima {
  width: 21.0104vw;
  height: 23.8333vw;
  position: relative;
  top: 10vw;
  /* left: -138px; */
  left: 40vw;
}

.popup {
  display: none;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0,.5);
  position: fixed;
  top: 0;
  /* opacity: .5; */
  z-index: 9999;
  left: 0;
}

.erweima img,.quanyiimg {
  width: 100%;
  height: 100%;
}

.quanyilink {
  display: block;
  width: 393px;
  height: 460px;
}

.content {
  overflow: hidden;
}

@media screen and (max-width:1600px) {
  .cpart01 {
    max-width: 100vw;
  }
  
  .mySwiper2 {
    height: 5.2083vw;
  }
  
  .pc_content {
    max-width: 72.916vw;
  }
  
  .part02_part {
    height: 31.25vw;
  }
  
  .vipequity {
    top: 12.292vw;
    padding: 0px 3.708vw;
  }
  
  .vipimgdiv {
    padding: 0 1.2667vw;
  }
  
  .vipimg {
    width: 18.854vw;
    height: 15.833vw;
  }

  .step_left {
    padding: 0px 1.364583vw 0 42px;
  }
  
  .lengthlitwop {
    font-size: 0.8375vw;
  }

  .step_right {
    padding: 0 0 0 1.364583vw;
  }

  .hrequity_top {
    padding: 3.28125vw 3.125vw 1.875vw;
  }
  
  .hrtitle {
    font-size: 1.5625vw;
  }
  
  .hrequity_bottom_img {
    padding: 0 4.16667vw 2.288vw;
  }
  
  .hrequity_bottom_img img:nth-child(2){
    padding: 0 1.3542vw;
  }
  
  .hrequity_bottom_dot_ul li {
    width: 8.1354vw;
    height: 8.1354vw;
    padding: 0 0.625vw;
  }

  .hrequity_bottom_dot_ul li img {
    width: 2.2786vw;
    height: 1.7984vw;
  }

  .quanyilink {
    width: 20.46875vw;
    height: 23.9583vw;
  }

  .hrequity_bottom_img a:nth-child(2) {
    margin: 0 1.354167vw;
}

.hrequity_bottom_dot_ul {
  padding: 0 5.20833vw;
}

.pad48 ul li:nth-child(1) {
  width: 6vw;
}

.pad48 ul li:nth-child(2) {
  width: 15vw;
}

.lengthli {
  width: 10vw !important;
}

.dottitel {
  font-size: 1.09375vw;
  line-height: 1.25vw;
  padding: 1.14583vw 0;
}

.dottitel_p {
  font-size: 0.829167vw;
}

p {
  line-height: 1.6667vw;
  font-size: 0.9375vw;
}

.part03_part,.part04_part {
  height: auto;
}

.appbtn {
  width: 6.979167vw;
  height: 1.875vw;
}

.part04_tab {
  padding: 0 3.125vw 1.875vw;
}

.tab {
  width: 16.71875vw;
  height: 37vw;
}

.tabimg {
  margin-bottom: 9px;
  width: 10.9375vw;
  height: 3.59375vw;
}

.tab_title {
  font-size: 1.25vw;
}

.tab_ititle {
  font-size: 1.09375vw;
  line-height: 1.875vw;
}

.step_bottom {
  padding: 1.041667vw 0 1.5625vw;
  margin-bottom: 3.125vw;
}

/* .erweima {
  width: 19.0104vw;
  height: 20.8333vw;
  top: -22.03125vw;
} */

.cpart05_part img{
  width: 72.916vw;
  height: 13.02083vw;
}

.jointly img {
  width: 15.625vw;
  height: 13.286vw;
}

span {
  width: 0.328125vw;
  height: 0.328125vw;
  margin-right: 0.729167vw;
}
}

@media screen and (max-width:900px){
  .pc,.mySwiper2 {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }

  .pc_content {
    min-width: 100vw;
    margin: 0;
  }

  .part02_part {
    background-image: url(../images/mobile/会员卡底图-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55.555vw;
    /* overflow-x: scroll; */
  }

  .vipimg {
    width: 55.555vw;
    height: 46.6667vw;
}

.vipequity {
  margin-left: -42vw;
}

.hrtitle {
  font-size: 5.1vw;
}

.mbhrtitle {
  font-size: 4vw;
}

.quanyilink {
  width: 28.1262vw;
  height: 36.4724vw;
}

.hrequity_top {
  padding: 7.28125vw 3.125vw 5.875vw;
}

.hrequity_bottom_dot_ul li img {
  width: 3.83333vw;
  height: 3.7037vw;
}

.dottitel {
  font-size: 2.777778vw;
  line-height: 4.25vw;
}

.dottitel_p {
  font-size: 2.2222vw;
}

.hrequity_bottom_dot_ul li {
  width: 21.1354vw;
  height: 18.1354vw;
  padding: 2vw 0.625vw;
}

.hrequity_bottom_dot_ul {
  flex-flow: wrap;
  padding: 0 5.20833vw 4vw;
}

.part04_tab {
  padding: 0 3.125vw 1.875vw;
  flex-direction: column;
}


.lengthli {
  width: 50vw !important;
}

.tab {
  width: 100%;
  border: none;
  height: auto;
  flex-flow: wrap;
  padding: 0 2vw;
}

.tabimg {
  margin-bottom: 9px;
  width: 40.3572vw;
  height: 13.1511vw;
  background-size: contain;
  margin: 0 2vw;
}

.appli1 {
  background-image: url(../images/mobile/应用场景按钮-01.png);
}

.appli2 {
  background-image: url(../images/mobile/应用场景按钮-05.png);
}

.appli3 {
  background-image: url(../images/mobile/应用场景按钮-06.png);
}

.appli4 {
  background-image: url(../images/mobile/应用场景按钮-07.png);
}

.tab_title {
  font-size: 5.5555vw;
}

.tab_ititle {
  font-size: 3.7037vw;
  line-height: 9.875vw;
}

.step_bottom {
  padding: 1.041667vw 0 1.5625vw;
  margin-bottom: 3.125vw;
  display: block;
}

.pad48 ul li:nth-child(1) {
  width: 20vw;
}

.pad48 ul li:nth-child(2) {
  width: 67vw;
}

p {
  line-height: 6.6667vw;
  font-size: 3.7037vw;
}

.lengthlitwop {
  font-size: 3vw;
}

span {
  width: 1.328125vw;
  height: 1.328125vw;
  margin-right: 2.729167vw;
}

.hengxian {
  width: 100%;
  background: #c7c8c9;
  height: 2px;
  position: absolute;
  bottom: -16px;
  left: 0;
}

.step.on::before {
  width: 100%;
}

.step::before {
  width: 70px;
  left: 0;
  height: 2px;
}

.step_left {
  border: none;
}

.pad48 {
  padding: 20px 0 0 22px;
  width: 91%;
}

.fa {
  top: 13px;
}

.cpart05_part img {
  width: 100%;
  height: 58.0225vw;
}

.jointly img {
  width: 55.5555vw;
  height: 49.38787vw;
  margin-left: 4vw;
}

.jointly p {
  font-size: 3.3333vw;
  line-height: 4.6667vw;
}

.origcolor {
  font-size: 4.4444vw !important;
  line-height: 6.6667vw !important;
}

.appbtn {
  width: 28.894vw;
  height: 7.97398vw;
}

/* .erweima {
  width: 48.0104vw;
  height: 55.8333vw;
  top: -60.03125vw;
  left: 40%;
} */

.mhrequity_bottom_img {
  padding:0 4.16667vw 2.288vw;
  justify-content: center;
}

.mhrequity_bottom_img a:nth-child(2){
  padding: 0 26px;
}

.vipimgdiv {
    padding: 17vw 1.041667vw 1.041667vw;
}

.swiper-slide {
  background: transparent;
}

.erweima {
  width: 94.0104vw;
  height: 104.8333vw;
  top: 27vw;
  left: 4vw;
}

}